<!DOCTYPE html>
<html>
    <head>
        <title>harvest heaven</title>
        <meta charset="utf-8">
        <link href="stylle.css" rel="stylesheet">
       
        
    </head>

    <body>
         <div class="main">
             <div class="sub">
            <img src="C:\\Users\\Saravanan\\Downloads\\logo.jpeg">
           <h2><span class="h">H</span> arvest <span class="h">H</span> aven.</h2></div>
           <div class="navbar">
           <ul >
                     <li><a href="homepage.html" class="active" >Home</a></li>
                     <li><a href="#about">About Us</a></li>
                     <li><a href="#clients">Our Clients</a></li>  
                     <li><a href="#contact">Contact Us</a></li>
             
                   </ul></div></div>
                   <div class="main2">
                    <img src="C:\\Users\\Saravanan\\Downloads\\main.jpg"> 
                    <h2>A <span class="one">One</span> Stop Website <br>For Farmers.</h2>
                   
                   </div>
                   <div class="box">
                   <div class="card1">
                    <img src="C:\\Users\\Saravanan\\Downloads\\land.jpg">
                    <h3>Crop Recomendation<h3>
                    <p>Budding Farmers are Drop their work or <br>met a loss due to improper growth of crops in the land.<br> This will you By suggesting the best crop <br>that can be planted in you land just by few inputs from the framers about the land</p>
                   <button href="crop.html">CLIKE HERE</button>
                </div>
                   <div class="card2">
                    <img src="C:\\Users\\Saravanan\\Downloads\\agri.jpg">
                    <h3>Fertilizer Recommendation<h3>
                    <p>Many Young Farmers are not much knowledeged about the usage of <br>Fertilizer wheares using of correct level and type of Fertilizer will<br> lead to good farming.<br> This will suggest you the best Fertilizers to be used by getting few input from the Framers</p>
                   <button href="fertilizer.html">CLIKE HERE</button>
                </div>
                   <div class="card3">
                    <img src="C:\\Users\\Saravanan\\Downloads\\leaf.jpg">
                    <h3>Disease Prediction<h3>
                    <p>It takes long amount of time to understand what Disease affected on<br> the plants even experinced farmers can struggle <br>to detect the Disease .<br>This will Predict the Disease and suggest the remidie</p>
                    <button href="disease.html">CLIKE HERE</button>
                </div>
                </div>
                <div class="form">
                    <p class="word">By Entering your location you can get youweather details and if the<br> weather is not good you will get a notificiation through thementioned <br>mail </p>
                
                           
                   
                        
                      
                     
                    <div class="elements">
                        <h1>Your Info</h1>
                        <label >Name:</label>
                        <input type="text" class="name" placeholder="Your good name please!!">
                        <label >Email-Id:</label>
                        <input type="email" class="email" placeholder="How can we contact you!!">
                        <button class="submit">Submit</button>
                    </div>
                </div>
                
    </body>
</html>